/* Conçu par Mathis R.
 * Année 2021/2022
 */

body{
    background-image: url("../assets/wallpapers/letter.png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;  
}

#character-target-div{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 200px;
    margin: 30px auto;

    background: rgb(255, 255, 250, 0.85);
    color: black;
    border-radius: 10px;

    font-family: calibri;
    font-size: 1.8em;
    text-decoration: none;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 5px 2px black;
}

#choix{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}

a{
    width: 140px;
    height: 40px;
    margin: 12px;

    background: rgb(255, 255, 250, 0.85);
    text-decoration: none;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 40px;
    box-shadow: 5px 5px 10px 1px black;

    font-family: calibri;
    font-size: 1.2em;
    color: black;
    text-align: center;

    cursor: pointer;
}


a:hover{
    background: lightgrey;
    box-shadow: 5px 5px 10px 4px black;
    transition: 0.2s;
}

#fermer{
    color: white;
    background: rgb(180, 0, 0, 0.7);
}