
header{
	background-color: #15465e;
	overflow: hidden;
	height: 100px;
    margin: -10px;
    padding-bottom: 10px;
}

h1, h2{
    height: 50px;
    margin: 40px auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px black;

    font-family: calibri;
}

h1{
	width: 500px;
    color: black;
    text-align: center;
    font-size: 2.5em;
    
    background: whitesmoke;

}

h2{
    width: 800px;
    background: #0c413d;
    color: white;
    text-align: left;
    font-size: 1.6em;
    padding-left: 40px;

    position: absolute;
    left: 20px;
    top: -20px;
}

body{
	background-color: #559c9e;
}

#middle{
    background-color: #15465e;
    padding-bottom: 20px;
    width: 950px;
    border-radius: 50px;
    margin: auto;
}

ul{
	list-style-type: none;
}

#Symbole, #Pinyin, #Traduction{
    width: 260px;
    height: 50px;
    margin: 60px auto;

    background: whitesmoke;
    color: black;
    border-radius: 10px;

    font-family: calibri;
    font-size: 1.8em;
    text-decoration: none;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 5px 2px black;
}
#Symbole{
    width: 110px;
    height: 110px;
    margin: 20px;
}

#listeSymboles{
    display: flex;
    flex-direction: row;
    /*background-color: #e0e4c6;*/
    justify-content: center;
    margin-top: 80px;
    padding-top: 20px;
}

li a{
	width: 500px;
    height: 60px;
    margin: 60px auto;

    background: white;
    color: black;

    font-family: calibri;
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;

    margin-top: 110px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 40px;
    background: white;
    box-shadow: 5px 5px 10px 1px black;
}
li a:hover{
    background-color: lightgrey;
}

#Apprendre,#Jouer{
	font-size: 2em;
}

#Lecon0{
    height: 50px;
}
#Lecon1,#Lecon2,#Lecon3,#Lecon4,#Lecon5,#Lecon6{
    margin-top: 50px;
    height: 50px;
}

span{
	position: absolute;
    margin-left: 350px;
    margin-top: 10px;
}
#RetourMenuIcon{
    position: absolute;
    right: 0.7em; 
}

#RetourMenu{
    position: absolute;
    width: 150px;
    height: 50px;
    right: 1.5em;
    top: 1.5em;
    background-color: darkgrey;

    font-family: calibri;
    font-size: 1.4em;
    text-align: center;
    color: black;
    text-decoration: none;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 40px;
    background: whitesmoke;

    box-shadow: 5px 5px 10px 1px black;
}
#RetourMenu:hover{
    background-color: lightgrey;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 80px;

    font-family: calibri;
    font-size: 1.4em;
    text-align: center;
}
#Suivant, #Precedent, #Terminer, #Retour{
    width: 150px;
    height: 50px;
    margin-top: 20px;

    background: #0c413d;
    color: white;
    text-decoration: none;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 40px;
    box-shadow: 5px 5px 10px 1px black;
}
#Suivant:hover, #Precedent:hover, #Terminer:hover, #Retour:hover{
    background: #06190e;
}

#Terminer, #Retour{
    visibility: hidden;
}

#Pagination{
    width: 80px;
    height: 40px;
    background: #0c413d;
    color: white;
    box-shadow: 2px 2px 5px 2px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


