/* Conçu par Mathis R.
 * Année 2021/2022
 */

header{
	/*background-color: #15465e;*/
    background-color: rgba(21, 70, 94, 0.85);
	overflow: hidden;
	height: 100px;
    margin: -15px;
    padding-bottom: 10px;

    box-shadow: 3px 3px 15px 2px black;
}

h1, h2{
    height: 50px;
    margin: 40px auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px black;

    font-family: calibri;
}

h1{
	width: 500px;
    color: black;
    text-align: center;
    font-size: 2.5em;
    
    background: white;
}
#h1Menu{
    background: whitesmoke;
}

h2{
    width: 500px;
    background: #0c413d;
    color: white;
    text-align: left;
    font-size: 1.6em;
    padding-left: 40px;

    position: absolute;
    left: 20px;
    top: -20px;
}

body{
	background-color: #559c9e;
    overflow-x: hidden;
}

#middle{
    /*background-color: #15465e;*/
    background-color: rgba(21, 70, 94, 0.9);
    box-shadow: 2px 2px 12px 1px black;
    padding-bottom: 20px;
    width: 950px;
    border-radius: 50px;
    margin: auto;
}

ul{
	list-style-type: none;
}

#Symbole, #Pinyin, #Traduction{
    width: 260px;
    height: 50px;
    margin: 60px auto;

    background: whitesmoke;
    color: black;
    border-radius: 10px;

    font-family: calibri;
    font-size: 1.8em;
    text-decoration: none;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 5px 2px black;
}
#Symbole{
    width: 110px;
    height: 110px;
    margin: 20px;
    cursor: pointer;
}

#Symbole:hover{
    background-color: lightgrey;
    transition: 0.2s;
}

#listeSymboles{
    display: flex;
    flex-direction: row;
    /*background-color: #e0e4c6;*/
    justify-content: center;
    margin-top: 80px;
    padding-top: 20px;
}

li a{
	width: 500px;
    height: 60px;
    margin: 60px auto;

    background: white;
    color: black;

    font-family: calibri;
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;

    margin-top: 110px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 40px;
    background: white;
    box-shadow: 5px 5px 10px 1px black;
}
li a:hover{
    background-color: lightgrey;
    box-shadow: 5px 5px 10px 4px black;
    transition: 0.2s;
    cursor: pointer;
}

#Apprendre,#Jouer{
	font-size: 2em;
}

#Lecon0, #Jeu0{
    height: 50px;
}
#Lecon1,#Lecon2,#Jeu1{
    margin-top: 50px;
    height: 50px;
}

span{
	position: absolute;
    margin-left: 350px;
    margin-top: 10px;
}
#RetourMenuIcon{
    position: absolute;
    right: 0.7em; 
}

#RetourMenu{
    position: absolute;
    width: 150px;
    height: 50px;
    right: 1.5em;
    top: 1.5em;
    background-color: darkgrey;

    font-family: calibri;
    font-size: 1.4em;
    text-align: center;
    color: black;
    text-decoration: none;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 40px;
    background: whitesmoke;

    box-shadow: 5px 5px 10px 1px black;
}
#RetourMenu:hover{
    background-color: lightgrey;
    transition: 0.2s;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 80px;

    font-family: calibri;
    font-size: 1.4em;
    text-align: center;
}
#Suivant, #Precedent, #Terminer, #Retour{
    width: 150px;
    height: 50px;
    margin-top: 20px;

    background: #0c413d;
    color: white;
    text-decoration: none;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 40px;
    box-shadow: 5px 5px 10px 1px black;
}
#Suivant:hover, #Precedent:hover, #Terminer:hover, #Retour:hover{
    background: #06190e;
    transition: 0.2s;
}

#Terminer, #Retour{
    visibility: hidden;
}

#Pagination{
    width: 80px;
    height: 40px;
    background: #0c413d;
    color: white;
    box-shadow: 2px 2px 5px 2px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#listeBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 50px;

    align-items: center;
}
@media screen and (max-width: 1200px) {
  #listeBtn{
    flex-direction: column;
  }
  #listeBtnDroite{
    margin-top: -40px;
  }
}

#listeBtnJouer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;

    align-items: center;
}

#btnAffiche1, #btnAffiche2, #btnAffiche3{
    display: flex;
    flex-direction: column;
    justify-content: center;

    /*background-color: #15465e;*/
    background-color: rgba(21, 70, 94, 0.9);

    margin: 30px;
    padding: 50px;

    width: 550px;
    height: 200px;

    border-radius: 20px;
    box-shadow: 2px 2px 12px 1px black;
}
#btnAffiche1{
    /*background-color: #ec7853;*/
    background-color: rgba(236, 120, 83, 0.9);
}
#btnAffiche2{
    /*background-color: #af4b4d;*/
    background-color: rgba(175, 75, 77, 0.9);
}
#btnAffiche3{
    /*background-color: #7d3046;*/
    background-color: rgba(125, 48, 70, 0.9);
}


#btnHaut, #btnBas{
    margin: 20px auto;
    height: 45px;
    width: 400px;
}
#btnHaut{
    margin-top: 40px;
}

h3{
    width: 400px;
    border-radius: 10px;
    background: #5a111b;
    box-shadow: 2px 2px 5px 2px black;
    color: white;
    text-align: left;
    font-size: 1.5em;
    font-family: calibri;
    margin: 0px;
    padding: 5px;
    text-align: center;

}

#jouerHeader{
    /*background-color: #af4b4d;*/
    background-color: rgba(175, 75, 77, 0.9);
}
#jouerBody{
    background-color: #ecb45f;
    background-image: url("../assets/wallpapers/lanternes.jpg");
    background-size: cover;
}

#reponsesHaut, #reponsesBas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    height: 150px;
    width: 800px;
    margin: 20px auto;

    /*background-color: red;*/
}
#reponsesBas{
    /*background-color: blue;*/

}

#reponse1, #reponse2, #reponse3, #reponse4{
    display: flex;
    width: 320px;
    height: 50px;

    margin: 20px auto;
    margin-top: -40px;
}
#reponse1, #reponse2{
    z-index: 10;
}
#reponse3, #reponse4{
    margin-top: -80px;
    z-index: 9;
}


#middleJeu{
    box-shadow: 2px 2px 12px 1px black;
    padding-bottom: 20px;
    width: 950px;
    height: 500px;
    border-radius: 50px;
    margin: auto;
}

#Score{
    position: absolute;
    text-align: center;
    width: 420px;
    height: 85px;
    line-height: 85px;
    
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 11;

    font-family: calibri;
    font-size: 2.2em;
    color: white;

    border-radius: 20px;
    background-color: seagreen;
    box-shadow: 2px 2px 8px 5px black;
    opacity: 0.85;
}

#Modele{
    width: 350px;
    height: 60px;
    line-height: 60px;

    background-color: whitesmoke;
    text-align: center;

    font-family: calibri;
    font-size: 1.8em;
    font-weight: bold;

    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px black;

}

#bodyIndex{
    background-image: url("../assets/wallpapers/fleures.jpg");
    background-size: cover;
}

#bodyApprendre{
    background-image: url("../assets/wallpapers/dessinTemple.jpg");
    background-size: cover;
}

#Credits{
    background-color: rgba(21, 70, 94, 0.80);
    width: 300px;
    height: 125px;
    margin-left: 20px;
    text-align: center;
    padding-right: 20px;

    position: absolute;
    right: 120px;
    bottom: 60px;

    font-family: calibri;
    font-size: 1.4em;
    color: white;
    font-style: italic;

    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px black;
    
}

#Credits li{
    margin: 10px auto;
}

*{
    zoom: 0.965;
}